h4 {
    color: white;
}

.modal-body {
    padding: 1px;
}

.modal-content {
    background: url(/assets/img/sky-bg.jpg) no-repeat center center;
}

.margin-left{
   margin-left: 5px;
}

#reimder-time-offset {
    margin-top: 28px;
}