<div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Calendar</h4>
      <button class="close" aria-label="Close" (click)="dismiss('close on top')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" [(ngModel)]="title">
          </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="closeModal(title)">Ok</button>
        <button class="btn btn-default confirm-btn" (click)="dismiss('cancel')">Cancel</button>
    </div>
</div>
  