<div class="modal-content">
    <div class="modal-body">
        <div class="form">  
            <ba-card cardTitle="{{mode == ActionMode.Edit ? 'Edit event': 'Add event'}}" baCardClass="with-scroll">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Title" [(ngModel)]="calendarEvent.title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" id="description" placeholder="Description" [(ngModel)]="calendarEvent.description"></textarea>
                </div>
                <div class="form-group">
                    <div class="row">
                        <!-- <div class="col-sm-6">
                            <label for="start">Start</label>
                            <input class="form-control d-inline" 
                                    placeholder="yyyy-mm-dd"
                                    name="datePicker" 
                                    [(ngModel)]="startDateModel" 
                                    ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-prepend">
                                <button class="btn" (click)="d.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="end">End</label>
                            <input class="form-control d-inline" 
                                placeholder="yyyy-mm-dd"
                                name="datePicker" 
                                [(ngModel)]="endDateModel" 
                                ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div> -->
                        <div class="col-sm-6">
                            <label for="start">Start</label>
                            <div class="form-control" id="start">{{ calendarEvent.start === undefined ? 'None' : calendarEvent.start | date }}</div>
                        </div>
                        <div class="col-sm-6">
                            <label for="end">End</label>
                            <div class="form-control" id="end">{{ calendarEvent.end === undefined ? 'None' : calendarEvent.end | date }}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="reminder-state">Reminder</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ui-switch id="reminder-state" [(ngModel)]="reminder.active" (click)="toggle(reminderElement, 400)"></ui-switch>
                        </div>
                    </div>
                </div>
                <div id="reminderElement" class="form-group" #reminderElement>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="event-time">Event time</label>
                            <ngb-timepicker [(ngModel)]="timeModel" id="event-time"></ngb-timepicker>
                        </div>
                        <div class="col-sm-8">
                            <label for="reminder-on-time">Remind me</label>
                            <select class="form-control" id="reimder-time-offset" [(ngModel)]="reminder.timeOffset" >
                                <option *ngFor="let offset of timeOffsetToArray()" [value]="offset">{{ toString(offset) }}</option>
                            </select>
                        </div>                        
                    </div>
                </div>
                <button class="btn btn-primary confirm-btn" (click)="submit()">Ok</button>
                <button class="btn btn-default confirm-btn margin-left" (click)="dismiss('cancel')">Cancel</button>
                <button *ngIf="mode == ActionMode.Edit" class="btn btn-danger confirm-btn pull-right" (click)="delete()">Delete</button>
            </ba-card>
        </div>
    </div>
</div>
  