<span *ngIf="isLoading" class="loader">
    <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i> Loading todos...
</span>
<span *ngIf="isSaving" class="loader">
    <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i> Saving new todo...
</span>
<span *ngIf="isUpdating" class="loader">
    <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i> Updating todo...
</span>
<span *ngIf="isDeleting" class="loader">
    <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i> Deliting todo...
</span>
<span *ngIf="error" class="error">
    {{ error }}
</span>
<ba-full-calendar [baFullCalendarConfiguration]="calendarConfiguration" baFullCalendarClass="blurCalendar" (onCalendarReady)="onCalendarReady($event)"></ba-full-calendar>
<!-- <button (click)="fatchEvents()">Referesh events</button> -->
