<span *ngIf="isLoading" class="loader">
    <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i> Loading events...
</span>
<span *ngIf="isSaving" class="loader">
    <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i> Saving new event...
</span>
<span *ngIf="isUpdating" class="loader">
    <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i> Updating event...
</span>
<span *ngIf="isDeleting" class="loader">
    <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i> Deliting event...
</span>
<ba-full-calendar [baFullCalendarConfiguration]="calendarConfiguration" baFullCalendarClass="blurCalendar" (onCalendarReady)="onCalendarReady($event)"></ba-full-calendar>
<!-- <button (click)="fatchEvents()">Referesh events</button> -->
