<div class="task-todo-container">
  <div (click)="switchTodos()" class="switch-todos">
    <span *ngIf="isActiveShown">Show archived</span>
    <span *ngIf="!isActiveShown">Show active</span>
  </div>
  <input type="text" value="" class="form-control task-todo" placeholder="{{'dashboard.todo.task_todo' | translate}}" (keyup)="addToDoItem($event)" [(ngModel)]="newTodoText"/>
  <i (click)="addToDoItem($event)" class="add-item-icon ion-plus-round"></i>
  <div class="box-shadow-border"></div>

  <ul class="todo-list">
    <li *ngFor="let item of todoList" [ngClass]="{checked: item.isCompleted, active: item.isActive}"
        (mouseenter)="item.isActive=true" (mouseleave)="item.isActive=false">

      <div class="blur-container"><div class="blur-box"></div></div>
      <i class="mark" [ngStyle]="{ 'background-color': item.color }"></i>
      <label class="todo-checkbox custom-checkbox custom-input-success">
        <input type="checkbox" [(ngModel)]="item.isCompleted" (ngModelChange)="item.isCompleted ? checkTodoItem(item.id) : uncheckTodoItem(item.id)">
        <span class="cut-with-dots">{{ item.description }}</span>
      </label>
      <i *ngIf="isActiveShown" 
         class="fa fa-archive archive-todo" 
         aria-hidden="true"
         (click)="archiveTodoItem(item.id)"></i>
      <i class="ion-ios-close-empty remove-todo" (click)="deleteTodoItem(item.id)"></i>
    </li>
  </ul>
  <div *ngIf="error">{{ error }}</div>
</div>
